{% extends 'ventas_app/plantilla.html' %}

{% block titulo%}
{{ titulo }}
{% endblock%}
        {% block contenido%}
        <h1> {{titulo}}</h1>
        <a class="btn btn-success" href="/crearcliente/"> Crear nuevos cliente</a><br>
        
        <table class="table table-striped">
            <tr class="table-warning">
                <td> id </td>
                <td>Documento</td>
                <td>Nombre</td>
                <td>Teléfono</td>
                <td>Tipo</td>
                <td colspan="2" align="center" >Acciones</td>
            </tr>
            {% for x in clientes %}
        
            <tr>
                <td>{{ x.pk }}</td>
                <td>{{ x.documento }}</td>
                <td>{{ x.nombreCompleto }}</td>
                <td>{{ x.telefono }}</td>
                <td>{{ x.get_tipo_display }}</td>
                <td align="center"><a class="btn btn-outline-warning" href="{% url 'actualizarclientes' x.id %}">Editar</a></td>
                <td align="center"><a class="btn btn-outline-danger" href="{% url 'eliminarclientes' x.id %}">Eliminar</a></td>
            </tr>
        
            {% endfor %}
            
        </table>
      {% endblock %}